*{
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#logo{
  width: 100px;
}
.nav-item:last-child {
  margin-right: 20px; /* Ajoute un espace à droite du dernier lien */
}
.background-image {
  background-image: url('./assets/images/fondAccueil1920.webp'); 
  background-size: cover; /* Couvre tout le conteneur */
  background-position: center; /* Centre l'image */
  background-repeat: no-repeat; 
  min-height: 88vh;
}